
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    margin: 0
}
.head-1{
    display: flex;
    justify-content: space-around;
    margin: auto;
    
    
}
.btn-1{
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 15px;
    margin-left: 10px;
}
.drop{
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #000;
    padding: 7px 15px 7px 30px;
}

.earth{
    position: relative;
    color: white;
    left: 33px;
    font-size: 19px;
    top: 1.5px;
}
.head{
    height: 658px;
    background: linear-gradient(to top, #000000cc 0, #00000000 60%, #000000cc 100%) ,url("images/Netflix-Background.jpg") ;
    background-size: cover;
    background-position: center;
}
.search{
    height: 590px;
}
.text1{
    font-size: 48px;
    font-weight: 900;
}
.text2{
    font-size: 24px;
    letter-spacing: 1px;
}
.text3{
    font-size: 20px;
}
.email-search{
    padding: 24px 16px 8px ;
    width: 100%;
    background-color: #0000008f;
    color: white;
    border-radius: 7px;
    outline: 1px solid white;
}
.form{
    width: 60%;
    margin: auto;
}
.email-search::placeholder{
    color: rgb(184, 181, 181);
}
.btn-2{
    background-color: #e50914;
    color: white;
    padding: 10px 23px;
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
    border: none;
    border-radius: 7px;

}
.divider{
    height: 5px;
    background-color: #3b3a3a;
}
.tv-shows{
   padding: 100px 0;
    background-color: #000;
    color: white;
}
.text-2-1{
    font-size: 48px;
    font-weight: 900;
}
.text-2-2{
    font-size: 24px;
}
.vid {
    position: absolute;
    padding-left: 81px;
    padding-top: 102px;
}
.tv-img{
    position: relative;
    width: 100%;
   
}
.stranger{
    height: 70px;
}
.gif{
    height: 60px;
}
.batch{
    border: 2px solid #646262;
    background-color: #000;
    border-radius: 9px;
    padding: 10px 15px;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 125px;
}

.tv-shows-2{
    background-color: #000;
    color: white;
  padding-top: 100px;
}
.text-4{
    font-size: 40px;
    
}
@media only screen and (max-width: 767px) {
body{
    text-align: center;
    color: white;
}
.text{
    font-size: 32px !important;
    font-weight: 900;
    padding: 0 10px;
}
.head{
    height: 650px;
}
.search{
    height: 600px;
}
.text2 , .text-2-2{
    font-size: 18px;
}
.text3{
    font-size: 18px;
    padding: 0 40px;
}
.form{
    display: block !important;
    width: 85%;
}
.email-search{
    padding: 10px 16px ;
    margin: 20px auto;
}
.btn-2{
    background-color: #e50914;
    padding: 7px 20px;
    font-size: 20px;
    margin: auto;
}
.net-logo{
    height: 30px !important;
}
.drop{
    width: 20%;
}
.text-2-2{
    margin: 20px 11px 53px;
}
.vid {
    
    position: absolute;
    padding-left: 35px;
    padding-top: 37px !important;
    padding-right: 20px;
}
.stranger {
    height: 50px;
}
.text-stran{
    font-size: 16px !important;
}
.text-dwonlod{
    font-size: 14px;
    text-align: left;
}
.gif {
    height: 50px;
}
.batch{
    width: 80%;
    position: static;
    margin-bottom: 30px;
}
}
@media only screen and (min-width: 768px) {
    
}