
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
    margin: 0
}
.head-1{
    display: flex;
    justify-content: space-around;
    margin: auto;
    
    
}
.btn-1{
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 15px;
    margin-left: 10px;
}
.drop{
    font-size: 16px;
    font-weight: 400;
    color: white;
    background-color: #000;
    padding: 7px 15px 7px 30px;
}

.earth{
    position: relative;
    color: white;
    left: 33px;
    font-size: 19px;
    top: 1.5px;
}
.head{
    height: 658px;
    background: linear-gradient(to top, #000000cc 0, #00000000 60%, #000000cc 100%) ,url("images/Netflix-Background.jpg") ;
    background-size: cover;
    background-position: center;
}
.search{
    height: 590px;
}
.text1{
    font-size: 48px;
    font-weight: 900;
}
.text2{
    font-size: 24px;
    letter-spacing: 1px;
}
.text3{
    font-size: 20px;
    color: #ffff;
    text-align: center;
}
.email-search{
    padding: 16px 12px ;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    outline: 1px solid white;
}
.form{
    width: 60%;
    margin: auto;
}
.email-search::placeholder{
    color: rgb(184, 181, 181);
}
.btn-2{
    background-color: #e50914;
    color: white;
    padding: 10px 23px;
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
    border: none;
    border-radius: 7px;

}
.divider{
    height: 5px;
    background-color: #3b3a3a;
}
.tv-shows{
   padding: 100px 0;
    background-color: #000;
    color: white;
}
.text-2-1{
    font-size: 48px;
    font-weight: 900;
}
.text-2-2{
    font-size: 24px;
    text-align: center;
    padding-bottom: 50px;
}
.vid {
    position: absolute;
    padding-left: 81px;
    padding-top: 102px;
}
.tv-img{
    position: relative;
    width: 100%;
   
}
.stranger{
    height: 70px;
}
.gif{
    height: 60px;
}
.batch{
    border: 2px solid #646262;
    background-color: #000;
    border-radius: 9px;
    padding: 10px 15px;
    width: 320px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
    bottom: 125px;
}

.tv-shows-2{
    background-color: #000;
    color: white;
  padding-top: 100px;
}
.text-4{
    font-size: 40px;
    
}
.btn-3{
    width: 70%;
    text-align: left;
    padding: 24px;
    font-size: 24px;
    font-weight: 500;
   background-color: #2d2d2d;
   color: white;
}
.btn-3:hover{
    background-color: #4d4a4a;
}
.head3{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    color: white;
}
#dropdwon{
    background-color: #000;
}
.para{
    background-color:#2d2d2d ;
    color: white;
    width: 70%;
    margin: auto;
    font-weight: 300;
    border-radius: 0;
    font-size: 24px;
    padding: 10px 20px;
}
.btn-3:active .plus{
    rotate: 45deg;
}
#footer{
    background-color: #000;
    color: #807c7c;
}
#footer ul li{
    list-style-type: none;
    font-size: 15px;
    line-height: 35px;
}
@media only screen and (max-width: 992px) {
    body{
        text-align: center;
    }
    .kids{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media only screen and (max-width: 767px) {
body{
    text-align: center;
    color: white;
}
.text{
    font-size: 26px !important;
    font-weight: 600;
    padding: 0 10px;
}
.head3 {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    color: white;
  padding: 40px 0 10px !important;
}
.head{
    height: 650px;
}
.search{
    height: 600px;
}
.text2 , .text-2-2{
    font-size: 18px;
}
.text3{
    font-size: 18px;
    padding: 0 40px;
}
.form{
    display: block !important;
    width: 85%;
}
.email-search{
    padding: 10px 16px ;
    margin: 20px auto;
}
.btn-2{
    background-color: #e50914;
    padding: 7px 20px;
    font-size: 20px;
    margin: auto;
}
.net-logo{
    height: 30px !important;
}
.drop{
    width: auto;
    margin-bottom: 10px;
}
.text-2-2{
    margin: 20px 11px 0;
}
.vid {
    
    position: absolute;
    padding-left: 35px;
    padding-top: 37px !important;
    padding-right: 20px;
}
.stranger {
    height: 50px;
}
.text-stran{
    font-size: 16px !important;
}
.text-dwonlod{
    font-size: 14px;
    text-align: left;
}
.gif {
    height: 50px;
}
.batch{
    width: 80%;
    position: static;
    margin-bottom: 30px;
}
.btn-3{
    width: 95%;
    text-align: left;
    padding: 10px 14px;
    font-size: 18px;
    font-weight: 500;
   background-color: #2d2d2d;
   color: white;
}
.para{
    background-color:#2d2d2d ;
    color: white;
    width: 95%;
    margin: auto;
    font-weight: 300;
    border-radius: 0;
    font-size: 17px;
    padding: 10px 14px;
    text-align: start !important;
}

}
@media only screen and (min-width: 768px) and (max-width: 949px){
   
    video.img-fluid {
        height: 360px;
    }
    .form {
        width: 70%;
        margin: auto;
        display: block !important;
    }
    .email-search {
        margin-bottom: 20px;
    }
    .text-2-2 {
        font-size: 20px;
}
.text-2-1 {
    font-size: 40px !important;
    font-weight: 900;
}
.head3 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding: 50px 0 20px;
    color: white;
}
.btn-3 {
    width: 90%;
}
.para {
    width: 90%;
}
}
